<%- include("partials/header.ejs") %>

<h1>Contact Page</h1>
<p>Get in touch with us!</p>

<form>
    <input class="feedback-input" type="text" placeholder="Name" />
    <input class="feedback-input" type="email" placeholder="Email" />
    <textarea class="feedback-input" placeholder="Message"></textarea>
    <input type="submit" value="Send" />
</form>

<%- include("partials/footer.ejs") %>
